# Identidad del proyecto
COMPOSE_PROJECT_NAME=client-name
APP_DOMAIN=client-name.local

# DB
DB_NAME=client_name_db
DB_USER=wp
DB_PASSWORD=wp_pass_ChangeMe
DB_ROOT_PASSWORD=root_pass_ChangeMe

# WP
WORDPRESS_TABLE_PREFIX=client_prefix_
WORDPRESS_DEBUG=true
WORDPRESS_DEBUG_LOG=true
WORDPRESS_DEBUG_DISPLAY=false

# Docker Image
WP_IMAGE=wordpress:6.9.1-php8.2-apache